<!DOCTYPE html>
<html>
<head>
  <title>TickleMoreWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'New Advertisement', new_advertisement_path %> |
    <%= link_to 'New Coupon', new_coupon_path %> |
    <%= link_to 'New Restaurant', new_restaurant_path %> |
    <%= link_to 'New Beverage', new_beverage_path %> |
    <%= link_to 'Advertisement Previews', advertisements_path %> |
    <%= link_to 'Coupon Previews', coupons_path %> |
    <%= link_to 'Restaurant Previews', restaurants_path %> |
    <%= link_to 'Beverage Previews', beverages_path %> |
  </div>
</nav>

<%= notice || alert %>




<%= yield %>

</body>
</html>
