<!DOCTYPE html>
<html>
<head>
  <title>TickleMoreWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'New Advertisement', new_advertisement_path %> |
    <%= link_to 'Advertisement Previews', advertisements_path %>
  </div>
</nav>

<%= notice || alert %>




<%= yield %>

</body>
</html>
